hr
ul(class='nav nav-pills')
    li(role="presentation")
        a(href='/') Accueil 
    li(role="presentation")
        a(href='polar-bear') Polar Bear
    li(role="presentation")
        a(href='penguin') Penguin
    li(role="presentation")
        a(href='porcupinefish') Porcupinefish
    li(role="presentation")
        a(href='frogs') Frogs
    li(role="presentation")
        a(href='turtle') Turtle
    li(role="presentation")
        a(href='lion') Lion
